/* 
soft blue: #52adda 
cool blue: #68b8df
cool grey: #c9c9c9
soft grey: #dbdbdb
soft green: #dbdbdb
cool green: #b5d954
*/
* { margin:0; padding:0; overflow:hidden;}
main{
    height:100vh;
    width:100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
div{
    margin-top: 8px;
    height: 48%;
    width:48%;
    border: solid 4px #c9c9c9;
    position: relative;
    border-radius: 25px;
    opacity:1;
}
.surprise_main{
    position:absolute;
    top:0;
}
.real_main{
    position:absolute;
    top:0;
    opacity:1;
    background-color: #b5d954;
}
section{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}
.a{
    order:1;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 75% 12% 12%;
    background-color: #52adda;
}
#moi{
    grid-row: 1;
    
}
#moi img{
    width:25%;
    height:100%
}
#lien_git{

}
#lien_source{

}
.b{
    order:2;
    background-color: #52adda;
}
.b section{
    display: grid;
    grid-template: repeat(2,1fr)/repeat(2,1fr);
    height: 100%;
    align-items: flex-start;
}
.b aside{
    grid-row: 1 / 2;
    grid-column: 1;
    height:100%;
    display: flex;
}
.b aside p{
    flex:1;
}
.b section ul{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex:2;
}
.b section ul li {
    margin: 1vh 0;
}
.b article{
    grid-row:2;
    grid-column: 2;
    display: flex;
    flex-direction: row;
}
.b article p{
    flex:1;
}

#timer{
    grid-column: 2;
    grid-row: 1;
    display: inline-block;
}
#pjs{
    font-weight: bold;
    text-decoration: underline;
}
.c{
    order:3;
    background-image: url("./golden-gate-1937.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.d{
    order:4;
    background-color: #52adda;
}
.d h2{
    margin-left: 10vw;
}
.d section{
    display: none;
    background-color: #efefef;
    position: relative;
    top: -53px;
    left: 207px;
}
.d ul{
    margin-left: 45%;
    margin-top: 6%;
}
.d article{
    display:flex;
    flex-direction:column;
    padding: 50px 0;
}
#presentation{
    margin: 0 10vw;
}
#node_span{

}